<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Markers</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
  <div id="map" style="width: 500px; height: 400px;"></div>

  <script type="text/javascript">
     function initMap() {
         var lat = {{ lat|safe }};
          var lon = {{ lon|safe }};

console.log(lat,lon)
            var map = new google.maps.Map(document.getElementById('map'),
                {
                    zoom: 15,center: new google.maps.LatLng(-33.92, 151.25),mapTypeId: google.maps.MapTypeId.ROADMAP
                });

            var infowindow = new google.maps.InfoWindow();

            var marker, i;

            for (i = 0; i < lon.length; i++)
                {
                    marker = new google.maps.Marker(
                        {
                            position: new google.maps.LatLng(lat[i], lon[i]),
                            map: map,

                        });


                }

     }

</script>
  <!--
      <div id="map"></div>
    <input type="hidden" id="lat" value={{ lat }}>
    <input type="hidden" id="lon" value={{ lon }}>

    <script>

     function initMap() {

          var lat = parseInt(document.getElementById('lat').value);
          var lon = parseInt(document.getElementById('lon').value);
          console.log(lat,lon);
        var myLatLng = {lat: lat, lng: lon};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng
        });
       var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!',

        });


      }

       function initMap() {
          var lat = {{ lat|safe }};
          var lon = {{ lon|safe }};
          console.log(lat,lon);
          for(i=0; i<lat.length; i++){
              var myLatLng = {lat: lat[i], lng: lon[i]};
              console.log(myLatLng);
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 4,

                });
               var marker = new google.maps.Marker({
                  position: myLatLng,
                  map: map,
                  title: 'Hello World!',

                });
            }
      }


    </script>

-->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6s7DSe9M6MZk7g77cMTuoqIO6d-ebKwI&callback=initMap">

    </script>
  </body>
</html>